body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.caja {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
}

.caja:hover {
    transform: rotate(20deg) scale(1.3) translateX(20px) skewY(10deg);
}
