.container {
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-image: url('border.png') 34 / 10px / 5px round;
    border-image-outset: 10px;
    height: 200px;
    margin: 50px auto;
    width: 300px;
}
