.container {
    background: 
    background-clip: padding-box;
    height: 400px;
    url('noche\ bonita.jpg') no-repeat 90% 80%,
    url('tulipanes.jpg') no-repeat center / cover;
    width: 80%;
}
