/* Estilo predeterminado para pantallas grandes */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: rgb(124, 227, 227);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

/* Consulta de medios: Estilos para pantallas con ancho máximo de 768px */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header {
        padding: 15px;
        font-size: 1.5em;
    }

    main {
        padding: 10px;
    }
}

/* Consulta de medios: Estilos para pantallas con ancho máximo de 480px */
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    header {
        font-size: 1.2em;
        padding: 10px;
    }

    main {
        padding: 5px;
    }
}
